<form class="{{cssClass}}" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
            <div class="resources">
                <label class="resource-label">Point de vie</label><p>
                <input class="resource-hp" type="text" name="data.hp.value" value="{{data.hp.value}}" data-dtype="Number"/>
                <span>-</span>
                <input class="resource-hp-max" type="text" name="data.hp.max" value="{{data.hp.max}}" data-dtype="Number"/>
            </div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="core">Information</a>
        <a class="item" data-tab="passif">Passif</a>
        <a class="item" data-tab="magie">Magie</a>
        <a class="item" data-tab="journal">Inventaire</a>
        <a class="item" data-tab="items">Equipment</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Core Tab --}}
        <div class="tab core" data-group="primary" data-tab="core">
            <div>
            <table class="core-sidebar1">
                <tr>
                    <th colspan="3" class="combat_table_header">Stats</th>
                </tr>
                <tr>
                    <td><input type="checkbox" name="data.characteristics.str.favored" {{checked data.characteristics.str.favored}} hidden></td>
                    <th><input type="button" class="characteristic-roll" name="STR" id="str" value="FOR"></th>
                    <td><input name="data.characteristics.str.value" type="text" value="{{data.characteristics.str.value}}" data-dtype="Number"></td>
                </tr>
                <tr>
                    <td><input type="checkbox" name="data.characteristics.agi.favored" {{checked data.characteristics.agi.favored}} hidden></td>
                    <th><input type="button" class="characteristic-roll" name="AGI" id="agi" value="AGI"></th>
                    <td><input name="data.characteristics.agi.value" type="text" value="{{data.characteristics.agi.value}}" data-dtype="Number"></td>
                </tr>
                <tr>
                    <td><input type="checkbox" name="data.characteristics.int.favored" {{checked data.characteristics.int.favored}} hidden></td>
                    <th><input type="button" class="characteristic-roll" name="INT" id="int" value="INT"></th>
                    <td><input name="data.characteristics.int.value" type="text" value="{{data.characteristics.int.value}}" data-dtype="Number"></td>
                </tr>
                <tr>
                    <td><input type="checkbox" name="data.characteristics.prc.favored" {{checked data.characteristics.prc.favored}} hidden></td>
                    <th><input type="button" class="characteristic-roll" name="PRC" id="prc" value="PER"></th>
                    <td><input name="data.characteristics.prc.value" type="text" value="{{data.characteristics.prc.value}}" data-dtype="Number"></td>
                </tr>
                <tr>
                    <td><input type="checkbox" name="data.characteristics.prs.favored" {{checked data.characteristics.prs.favored}} hidden></td>
                    <th><input type="button" class="characteristic-roll" name="PRS" id="prs" value="SOC"></th>
                    <td><input name="data.characteristics.prs.value" type="text" value="{{data.characteristics.prs.value}}" data-dtype="Number"></td>
                </tr>
            </table>
            </div>
            <div class="core-sidebar2">
                <table>
                    <tr>
                        <th>Race</th>
                        <th>Age</th>
                        <th>Bourse</th>
                        <th>Surnom</th>
                    </tr>
                    <tr class="field-inputs">
                        <td><input type="text" name="data.race" value="{{data.race}}"></td>
                        <td><input type="text" name="data.birthsign" value="{{data.birthsign}}"></td>
                        <td><input type="text" name="data.xp" value="{{data.xp}}"></td>
                        <td><input type="text" name="data.xpTotal" value="{{data.xpTotal}}"></td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <th colspan="1">Réussite critique</th>
                        <th colspan="3">Echec critique</th>
                    </tr>
                    <tr>
                        <tr class="field-inputs">
                            <td><input type="text" name="reussite-critique" value="1" readonly></td>
                            <td><input type="text" name="reussite-critique" value="5" readonly></td>
                            <td><input type="text" disabled></td>
                            <td><input type="text" name="echec-critique" value="96" readonly></td>
                            <td><input type="text" name="echec-critique" value="100" readonly></td>
                        </tr>
                    </tr>
                </table>
                <div>
                    <h2 class="bioHeader">Infos sur le personnage - Langages</h2>
                    {{editor content=data.bio target="data.bio" button=true owner=owner editable=editable}}
                </div>
            </div>
        </div>

        {{!-- Skills Tab --}}
        

        {{!-- Combat Tab --}}
        

        {{!-- Spells Tab --}}
        

        {{!-- Talents Tab --}}
        {{!-- Passif Tab --}}
        <div class="tab passif" data-group="primary" data-tab="passif">
            <label class="resource-label">Mettez ici tous vos bonus passifs</label><p></p>
            <div>
            {{editor content=data.passif target="data.passif" button=true owner=owner editable=editable}}
            </div>
        </div>

        {{!-- Magie Tab --}}
        <div class="tab magie" data-group="primary" data-tab="magie">
            <label class="resource-label">Mettez ici tous vos sorts</label><p></p>
            <div>
            {{editor content=data.magie target="data.magie" button=true owner=owner editable=editable}}
            </div>
        </div>

        {{!-- Journal Tab --}}
        <div class="tab journal" data-group="primary" data-tab="journal">
            <label class="resource-label">Mettez ici tous ce que vous avez dans votre inventaire</label><p></p>
            <div>
            {{editor content=data.notes target="data.notes" button=true owner=owner editable=editable}}
            </div>
        </div>

        {{!-- Owned Items Tab --}}
        <div class="tab items" data-group="primary" data-tab="items">
            <div>
                <table class="skill-table">
                    <tr>
                        <th>Wealth</th>
                        <th>Supply</th>
                        <th>Carry Bonus</th>
                        <th>Carry Rating</th>
                        <th>Current ENC</th>
                    </tr>
                    <tr>
                        <td><input type="text" name="data.wealth" value="{{data.wealth}}" data-dtype="Number"></td>
                        <td><select name="data.supply" data-dtype="String">
                            {{#select actor.data.supply}}
                            {{#each actor.data.supply_cat as |supply_cat key|}}
                            <option value="{{key}}">{{supply_cat}}</option>
                            {{/each}} {{/select}}
                        </select></td>
                        <td><input type="text" name="data.carry_rating.bonus" value="{{data.carry_rating.bonus}}" data-dtype="Number"></td>
                        <td><input type="text" name="data.carry_rating.max" value="{{data.carry_rating.max}}" data-dtype="Number" disabled></td>
                        <td><input class="enc-color-green" type="text" name="data.current_enc" value="{{data.current_enc}}" data-dtype="Number" id="currentENC" disabled></td>
                    </tr>
                </table>
            </div>
            <div class="equipmentHeader">
                <table>
                    <tr>
                        <th><input type="button" class="gear-create" id="item" value="+"></th>
                        <th colspan="3">EQUIPMENT</th>
                    </tr>
                    <tr>
                        <td class="itemHeaderQTY">QTY</td>
                        <td class="itemHeaderQTY">ENC</td>
                        <td class="itemHeaderItem">Item</td>
                    </tr>
                </table>
                </div>
            <ol class="item-list">
                {{#each actor.gear as |item id|}}
                    <li class="item flexrow" data-item-id="{{item._id}}">
                        <div class="item-list-resource">
                        <input name="data.quantity" type="text" value="{{data.quantity}}" data-dtype="Number" disabled>
                        <input type="text" name="data.enc" value="{{data.enc}}" data-dtype="Number" disabled>
                        </div>
                        <img class="item-img" src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
                        <h4 class="item-name">{{item.name}}</h4>
                        <div class="item-controls">
                            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                        </div>
                    </li>
                {{/each}}
            </ol>
        </div> 
    </section>
</form>

