.worldbuilding {
  /* Sheet Tabs */
  /* Items List */
  /* Attributes */
}

@font-face {
  
}
.worldbuilding .editor {
  min-height: 200px;
}
.worldbuilding .editor-content {
  min-height: 200px;
  margin-left: 10px;
  margin-top: 10px;
}
.worldbuilding table {
  font-size: 12px;
}
.worldbuilding .window-content {
  height: 100%;
  padding: 0px;
  overflow-y: scroll;
  overflow-x: hidden;
  min-width: 200px;
  background: url("../images/parchment6.jpg");
  background-repeat: repeat;
  background-attachment: local;
}
.worldbuilding .sheet-header {
  height: 180px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  margin-bottom: 10px;
}
.worldbuilding .sheet-body {
  overflow-y: hidden;
  overflow-x: hidden;
  margin-left: 2%;
  margin-right: 2%;
}
.worldbuilding .resources {
 display: inline-block;
}
.worldbuilding .sheet-header .profile-img {
  flex: 0 0 180px;
  height: 180px;
  margin-right: 10px;
  border: none;
}
.worldbuilding .sheet-tabs {
  background-color: rgba(219, 181, 77, 0.808);
  font-size: larger;
}
.worldbuilding .sheet-tabs2 {
  background-color: rgba(189, 116, 106, 0.808);
  font-size: larger;
}
.worldbuilding .sheet-tabs3 {
  background-color: rgba(112, 172, 142, 0.808);
  font-size: larger;
}
.worldbuilding .charname {
}
.worldbuilding .resource-label {
  display: block;
  text-align: center;
  width: 125px;
  font-size: larger;
}
.worldbuilding .resource-hp {
  background: firebrick;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: x-large;
  color: white;
  margin-left: 5px;
}
.worldbuilding .resource-hp-max {
  background:firebrick;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: larger;
  color: white;
  margin-right: 3px;
}
.worldbuilding .resource-mp {
  background: #1E90FF;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: x-large;
  color: white;
  margin-left: 5px;
}
.worldbuilding .resource-mp-max {
  background: #1E90FF;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
  font-size: larger;
  color: white;
}
.worldbuilding .resource-sp {
  background: #228B22;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: x-large;
  color: white;
  margin-left: 5px;
}
.worldbuilding .resource-sp-max {
  background: #228B22;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
  font-size: larger;
  color: white;
}
.worldbuilding .resource-lp {
  background: purple;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: x-large;
  color: white;
  margin-left: 5px;
}
.worldbuilding .resource-lp-max {
  background:purple;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
  font-size: larger;
  color: white;
}
.worldbuilding .skill-table {
  text-align: center;
  font-size: 15px;
  margin-top: 5px;
}
.worldbuilding .core-sidebar1 {
  text-align: center;
  float: left;
  width: 20%;
  padding-right: 5px;
  border-right: groove;
}
.worldbuilding .core-sidebar2 {
  width: 80%;
  float: right;
  font-size: 15px;
  margin-top: 5px;
  padding-left: 5px;
}
.worldbuilding .xpPoints {
  text-align: center;
  border-radius: 30%;
  width: 100%;
}
.worldbuilding .bioHeader {
  font-family: "cyrodiil";
  src: url(../fonts/cyrodiil/cyrodiil.ttf);
  text-align: center;
}
.worldbuilding .derived_attributes_table {
  text-align: center;
  width: 10%;
  float: left;
  margin-top: 5px;
}
.worldbuilding .skills-header {
  font-size: 15px;
  background-color: rgba(219, 181, 77, 0.808);
}
.worldbuilding .actionPoints {
  text-align: center;
  padding: 10px;
}
.worldbuilding .size_table {
  width: 10%;
}
.worldbuilding .combat-sidebar {
  float: right;
  padding-left: 5px;
  width: 70%;
  border-right: groove;
}
.worldbuilding .combat-sidebar2 {
  float: left;
  padding-right: 5px;
  width: 30%;
  border-right: groove;
}
.worldbuilding .combat-sidebar2 .ap-inputs {
  text-align: center;
}
.worldbuilding .combat_table {
  margin-top: 2px;
  text-align: center;
  font-weight: bold;
}
.worldbuilding .combat_table_header {
  font-size: large;
  margin-top: 2px;
  text-align: center;
  background-color: rgba(219, 181, 77, 0.808);
}
.worldbuilding .combat_table_header2 {
  font-size: large;
  margin-top: 2px;
  text-align: center;
  background-color: rgba(189, 116, 106, 0.808);
}
.worldbuilding .item-list {
  list-style: none;
  margin: 7px 0;
  padding: 0;
  width: 100%;
  float: left;
}
.worldbuilding .combat-list {
  list-style: none;
  margin: 7px 0;
  padding: 0;
  width: 100%;
  float: left;
  text-align: center;
}
.worldbuilding .combat-list .item {
  height: 30px;
  line-height: 25px;
  padding: 3px 0;
  border-bottom: 1px solid #BBB;
}
.worldbuilding .combat-list label {
  width: 10px;
  text-align: center;
}
.worldbuilding .combat-list .item img {
  flex: 0 0 24px;
  margin-right: 5px;
}
.worldbuilding .combat-list .item-name {
  margin: 0;
  text-align: left;
}
.worldbuilding .combat-list .item-cat {
  text-align: left;
  margin-right: -240px;
  margin-left: -50px;
}
.worldbuilding .combat-list .item-equip {
  position: relative;
  text-align: left;
  margin-right: -250px;
  margin-left: -50px;
  left: 25px;
}
.worldbuilding .combat-list .item-cat .ammo-field {
  width: 30px;
  text-align: center;
  position: relative;
  right: 90px;
  border-radius: 50%;
}
.worldbuilding .combat-list .ammo-controls {
  text-align: center;
  position: relative;
  right: 55px;
  top: 15px;
}
.worldbuilding .combat-list .ammo-controls a {
  display: block;
  position: relative;
  bottom: 2px;
  margin-bottom: -20px;
  height: 5px;
}
.worldbuilding .combat-list .ammo-controls .ammo-plus {
  text-align: center;
  background-color: transparent;
  font-weight: bold;
  border-radius: 50%;
  padding: 5px;
  width: 10px;
  height: 5px;
}
.worldbuilding .combat-list .ammo-controls .ammo-minus {
  text-align: center;
  background-color: transparent;
  font-weight: bold;
  border-radius: 50%;
  padding: 5px;
  width: 10px;
  height: 5px;
}
.worldbuilding .combat-list .ammo-controls .ammo-plus:hover {
  background-color: green;
}
.worldbuilding .combat-list .ammo-controls .ammo-minus:hover {
  background-color: red;
}
.worldbuilding .combat-list .item-name:hover {
  font-weight: bold;
}
.worldbuilding .combat-list .item-controls {
  flex: 0 0 20px;
  margin-left: 0px;
  z-index: +1;
}
.worldbuilding .ability-list {
  display: inline-block;
  margin: 7px 0;
  margin-left: 15px;
  padding: 0;
  width: 100%;
}
.worldbuilding .ability-list li {
  float: left;
  list-style: outside none none;
  width: 50%;
}
.worldbuilding .ability-list .item img {
  flex: 0 0 24px;
  margin-right: 5px;
}
.worldbuilding .ability-list .item {
  height: 30px;
  line-height: 25px;
  padding: 3px 0;
  border-bottom: 1px solid #BBB;
}
.worldbuilding .ability-list label {
  width: 10px;
  text-align: center;
}
.worldbuilding .ability-list .item-category {
  margin: 0;
}
.worldbuilding .ability-list .item-name {
  margin: 0;
}
.worldbuilding .ability-list .item-name:hover {
  font-weight: bold;
}
.worldbuilding .item-img:hover {
  zoom: 1.1;
}
.worldbuilding .ability-list .item-controls {
  flex: 0 0 36px;
  margin-right: 5px;
  margin-left: 0px;
}
.worldbuilding .weapon-header {
  text-align: center;
}
.worldbuilding .item-list-resource input {
  width: 20%;
  height: 18px;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 20px;
  margin-top: 1px;
}
.worldbuilding .item-list .item {
  height: 30px;
  line-height: 25px;
  padding: 3px 0;
  border-bottom: 1px solid #BBB;
}
.worldbuilding .item-list label {
  width: 10px;
  text-align: center;
}
.worldbuilding .item-list .item img {
  flex: 0 0 24px;
  margin-right: 5px;
  margin-left: -75px;
}
.worldbuilding .item-list .item-name {
  margin: 0;
  margin-right: -80px;
}
.worldbuilding .item-list .item-name:hover {
  font-weight: bold;
}
.worldbuilding .item-list .item-controls {
  flex: 0 0 20px;
  margin-left: 0px;
}
.worldbuilding .spell-list {
  display: inline-block;
  margin: 7px 0;
  margin-left: 15px;
  padding: 0;
  width: 100%;
}
.worldbuilding .spell-list li {
  float: left;
  list-style: outside none none;
  width: 50%;
}
.worldbuilding .spell-list-resource input {
  width: 20%;
  height: 18px;
  text-align: center;
  margin-left: 15px;
  margin-right: 5px;
  margin-bottom: 20px;
  margin-top: 1px;
}
.worldbuilding .spell-list .item {
  height: 30px;
  line-height: 25px;
  padding: 3px 0;
  border-bottom: 1px solid #BBB;
}
.worldbuilding .spell-list label {
  width: 10px;
  text-align: center;
}
.worldbuilding .spell-list .item img {
  flex: 0 0 24px;
  margin-right: 5px;
  margin-left: -45%;
}
.worldbuilding .spell-list .item-name {
  margin: 0;
}
.worldbuilding .spell-list .item-name:hover {
  font-weight: bold;
}
.worldbuilding .spell-list .item-controls {
  flex: 0 0 36px;
  margin-right: 5px;
  margin-left: 0px;
}
.worldbuilding .itemHeader {
  text-align: left;
  font-size: large;
}
.worldbuilding .itemHeader .talentsLabel {
  text-align: left;
}
.worldbuilding .equipmentHeader {
  text-align: center;
  font-size: large;
}
.worldbuilding .itemHeaderQTY {
  width: 14%;
}
.worldbuilding .item-resource {
  text-align: center;
}
.worldbuilding .field-inputs {
  text-align: center;
  font-size: small;
}
.worldbuilding .field-inputs-small {
  text-align: center;
  font-size: small;
  font-weight: bold;
}
.worldbuilding .tall-input {
  text-align: center;
  line-height: 140%;
}
.worldbuilding .enc-color-red {
  background-color: red;
  color: white;
}
.worldbuilding .enc-color-orange {
  background-color: orange;
  color: white;
}
.worldbuilding .enc-color-none {
  background-color: none;
}
.worldbuilding .characteristic-roll {
  background-color: transparent;
  font-weight: bold;
  border-radius: 10%;
  border-style: groove;
  padding: 5px;
}
.worldbuilding .characteristic-roll-for {
  background-color: transparent;
  font-weight: bold;
  border-radius: 10%;
  border-style: groove;
  padding: 5px;
}
.worldbuilding .characteristic-roll-agi {
  background-color: transparent;
  font-weight: bold;
  border-radius: 10%;
  border-style: groove;
  padding: 5px;
}
.worldbuilding .characteristic-roll-int {
  background-color: transparent;
  font-weight: bold;
  border-radius: 10%;
  border-style: groove;
  padding: 5px;
}
.worldbuilding .characteristic-roll-per {
  background-color: transparent;
  font-weight: bold;
  border-radius: 10%;
  border-style: groove;
  padding: 5px;
}
.worldbuilding .characteristic-roll-soc {
  background-color: transparent;
  font-weight: bold;
  border-radius: 10%;
  border-style: groove;
  padding: 5px;
}
.worldbuilding .characteristic-roll:hover {
  border-color: black;
  background-color: red;
  color: white;
}
.worldbuilding .characteristic-roll-for:hover {
  border-color: black;
  background-color: red;
  color: white;
}
.worldbuilding .characteristic-roll-agi:hover {
  border-color: black;
  background-color: rgb(0, 255, 100);
  color: white;
}
.worldbuilding .characteristic-roll-int:hover {
  border-color: black;
  background-color: rgb(140, 0, 255);
  color: white;
}
.worldbuilding .characteristic-roll-per:hover {
  border-color: black;
  background-color: rgb(0, 130, 255);
  color: white;
}
.worldbuilding .characteristic-roll-soc:hover {
  border-color: black;
  background-color: rgb(205, 0, 195);
  color: white;
}
.worldbuilding .skill-roll {
  background-color: transparent;
  font-weight: bold;
  border-radius: 10%;
  border-style: groove;
  padding: 5px;
}
.worldbuilding .skill-roll:hover {
  border-color: black;
  background-color: red;
  color: white;
}
.worldbuilding .professions-roll {
  background-color: transparent;
  font-weight: bold;
  border-radius: 10%;
  border-style: groove;
  padding: 5px;
}
.worldbuilding .professions-roll:hover {
  border-color: black;
  background-color: red;
  color: white;
}
.worldbuilding .magic-skill-roll {
  background-color: transparent;
  font-weight: bold;
  border-radius: 10%;
  border-style: groove;
  padding: 5px;
}
.worldbuilding .magic-skill-roll:hover {
  border-color: black;
  background-color: red;
  color: white;
}
.worldbuilding .resistance-roll {
  background-color: transparent;
  font-weight: bold;
  border-radius: 10%;
  border-style: groove;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
}
.worldbuilding .resistance-roll:hover {
  border-color: black;
  background-color: red;
  color: white;
}
.worldbuilding .unconventional-roll {
  background-color: transparent;
  font-weight: bold;
  border-radius: 10%;
  border-style: groove;
  padding: 5px;
}
.worldbuilding .unconventional-roll:hover {
  border-color: black;
  background-color: red;
  color: white;
}
.worldbuilding .w1Open:hover {
  font-weight: bold;
}
.worldbuilding .damage-roll {
  text-align: left;
  margin-right: -270px;
  margin-left: 5px;
}
.worldbuilding .combat-roll {
  text-align: left;
  margin-right: -270px;
  margin-left: 5px;
}
.worldbuilding .armor-roll {
  text-align: left;
  margin-right: -270px;
  margin-left: 5px;
}
.worldbuilding .magic-roll {
  text-align: left;
  margin-right: -30px;
  margin-left: 5px;
}
.worldbuilding .ammo-roll {
  text-align: left;
  margin-right: -170px;
  margin-left: 5px;
}
.worldbuilding .combat-create {
  position: relative;
  right: 0px;
  top: 0px;
  background: none;
  border: groove;
}
.worldbuilding .weapon-create {
  position: relative;
  right: 0px;
  top: 0px;
  background: none;
  border: groove;
}
.worldbuilding .ammo-create {
  position: relative;
  right: 0px;
  top: 0px;
  background: none;
  border: groove;
}
.worldbuilding .armor-create {
  position: relative;
  right: 0px;
  top: 0px;
  background: none;
  border: groove;
}
.worldbuilding .gear-create {
  position: relative;
  right: 0px;
  top: 0px;
  background: none;
  border: groove;
}
.worldbuilding .trait-create {
  position: relative;
  right: 0px;
  top: 0px;
  background: none;
  border: groove;
}
.worldbuilding .power-create {
  position: relative;
  right: 0px;
  top: 0px;
  background: none;
  border: groove;
}
.worldbuilding .talent-create {
  position: relative;
  right: 0px;
  top: 0px;
  background: none;
  border: groove;
}
.worldbuilding .spell-create {
  position: relative;
  right: 0px;
  top: 0px;
  background: none;
  border: groove;
}
.worldbuilding .combat-create:hover {
  background-color: rgba(0, 0, 0, 0.308);
}
.worldbuilding .weapon-create:hover {
  background-color: rgba(0, 0, 0, 0.308);
}
.worldbuilding .ammo-create:hover {
  background-color: rgba(0, 0, 0, 0.308);
}
.worldbuilding .armor-create:hover {
  background-color: rgba(0, 0, 0, 0.308);
}
.worldbuilding .gear-create:hover {
  background-color: rgba(0, 0, 0, 0.308);
}
.worldbuilding .trait-create:hover {
  background-color: rgba(0, 0, 0, 0.308);
}
.worldbuilding .power-create:hover {
  background-color: rgba(0, 0, 0, 0.308);
}
.worldbuilding .talent-create:hover {
  background-color: rgba(0, 0, 0, 0.308);
}
.worldbuilding .spell-create:hover {
  background-color: rgba(0, 0, 0, 0.308);
}
.worldbuilding .combatHeader {
  text-align: center;
  font-size: large;
  text-align: left;
}
.rainbow {
  text-decoration: underline;
  animation: colorRotate 3s linear 0s infinite;
}

@keyframes colorRotate {
  from {
    color: #FF2D00;
  }
  10% {
    color: #FF9700;
  }
  20% {
    color: #FFF000;
  }
  30% {
    color: #33ff00;
  }
  40% {
    color: #00FFDC;
  }
  50% {
    color: #0099ff;
  }
  60% {
    color: #0400ff;
  }
  70% {
    color: #8c00ff;
  }
  80% {
    color: #FF00E4;
  }
  90% {
    color: #FF0064;
  }
  100% {
    color: #FF001B;
  }
}
